{%  extends 'base/base.html' %}
{% block body %}

    <!--Section: Aprenda Aqui -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Aprenda aqui</h2>
                    <h3 class="section-subheading text-muted">Faça login e inscreva-se nos nossos mini-cursos.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 portfolio-item">
                    <a href="/courses/ux" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../static/img/portfolio/ux.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>UX & Design</h4>
                        <p class="text-muted">O que não se fazer ao lidar com o usuário.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 portfolio-item">
                    <a href="/courses/frontend" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../static/img/portfolio/front.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Front-End</h4>
                        <p class="text-muted">HTML, CSS e Javascript do 0.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 portfolio-item">
                    <a href="/courses/hard" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../static/img/portfolio/rede.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>HNetwork</h4>
                        <p class="text-muted">Hardware e Redes.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 portfolio-item">
                    <a href="/courses/logic" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../static/img/portfolio/programacao.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Lógica de Programação</h4>
                        <p class="text-muted">Conceitos fundamentais de programação.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%  endblock %}