{% extends 'base/base.html' %}
{% block js %} <script src="/static/js/article/article.js"></script> {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="well">
                    <h2 align="center"> Gerenciamento de Artigos</h2>
                    <div id="fields">
                        {{ csrf_input() }}
                        {{ form_input('Título','title', '', '', 'text') }}
                        {{ form_input('Conteúdo','content', '', '', 'text') }}
                        {{ form_input('Autor', 'author', '', '', 'text') }}
                        {{ form_input('Imagem', 'img', '', '', 'file') }}
                    </div>
                    <div align="center">
                        <button id="salvar" class="btn btn-log">Criar</button>
                        <img id="ajax-save-gif" src="/static/img/ajax.gif" />
                        <button id="gerenciar" class="btn btn-log">Editar/Excluir</button>
                    </div>

                    <br><br>
                    <div id="ol">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>{% trans %} Título {% endtrans %}</th>
                                <th>{% trans %} Conteúdo {% endtrans %}</th>
                                <th>{% trans %} Autor {% endtrans %}</th>
                            </tr>
                            </thead>

                            {% for a in articles %}
                                <tr value="{{ a.key.id() }}">
                                <td> {{ a.title }} </td>
                                <td> {{ a.content }} </td>
                                <td> {{ a.author }} </td>
                                <td>
                                    <a class="btn btn-success" href="{{ a.edit_path }}" style="background: #10698F !important; margin-left: 10px">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                </td>
                                <td>
                                    <button class="btn btn-danger" value="{{ a.key.id() }}" style="margin-left: 10px">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>
                            {% endfor %}
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


