{% extends 'base/base.html' %}
{% block body %}
{% set article = article or None %}
{% set erros = erros or None %}
<div class="container">
   <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
        <h2 align="center"> Gerenciamento de Artigos</h2>
        <form action="{{ salvar_path }}" method="post">
            {{ csrf_input() }}
            {{ form_input('Título','title', article.title, erros.title, 'text') }}
            {{ form_input('Conteúdo','content', article.content, erros.content, 'text') }}
            {{ form_input('Autor', 'author', article.author, erros.author, 'text') }}
{#            {{ form_input('Imagem', 'img', article.img, erros.img, 'file') }}#}
            {% if article.key  %}
            <input type="hidden" name="article_id" value="{{ article.key.id() }}" />
            {% endif %}
            <div align="center">
                <button class="btn btn-log" type="submit">Salvar Alterações</button>
            </div>
        </form>

        </div>
    </div>
    </div>
    </div>
{% endblock %}