{% extends 'base/base.html' %}
{% block body %}
{% set user = user or None %}
{% set erros = erros or None %}
<br><br><br><br><br><br>
<div class="container">
   <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
        <h2 align="center"> Gerenciamento de Artigos</h2>
        <form action="{{ salvar_path }}" method="post">
            {{ csrf_input() }}
            {{ form_input('Nome de Usuário','uusername', user.uusername, erros.uusername, 'text') }}
            {{ form_input('Senha','upassword', user.upassword, erros.upassword, 'text') }}
            {{ form_input('E-mail', 'uemail', user.uemail, erros.uemail, 'text') }}
            {{ form_input('Nome', 'uname', user.uname, erros.uname, 'text') }}
            {{ form_input('Data de Nascimento', 'ubirthday', user.ubirthday, erros.ubirthday, 'date') }}
            {% if user.key  %}
            <input type="hidden" name="user_id" value="{{ user.key.id() }}" />
            {% endif %}
            <div align="center">
                <button class="btn btn-log" type="submit">Salvar Alterações</button>
            </div>
        </form>

        </div>
    </div>
    </div>
    </div>
{% endblock %}