{% extends 'base/base.html' %}
{% block js %} <script src="/static/js/user/user.js"></script> {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="well">
                    <h2 align="center"> Gerenciamento de Conta</h2>
                    <div id="fields">
                        {{ csrf_input() }}
                        {{ form_input('Nome de Usuário','username', '', '', 'text') }}
                        {{ form_input('Senha','password', '', '', 'password') }}
                        {{ form_input('E-mail', 'email', '', '', 'email') }}
                        {{ form_input('Nome', 'name', '', '', 'text') }}
                        {{ form_input('Data de Nascimento', 'birthday', '', '', 'date') }}

                        <div align="center">
                            <button id="salvar" class="btn btn-log">Criar</button>
                            <img id="ajax-save-gif" src="/static/img/ajax.gif" />
                            <button id="gerenciar" class="btn btn-log">Editar/Excluir</button>
                        </div>
                    </div>
                    <br><br>

                    <div id="ol">
                        {% if not user %}
                            <h3 align="center">Você ainda não se cadastrou</h3>
                        {% endif %}
                        {% if user %}
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>{% trans %} Username {% endtrans %}</th>
                                <th>{% trans %} E-mail {% endtrans %}</th>
                                <th>{% trans %} Nome {% endtrans %}</th>
                                <th>{% trans %} Data de Nascimento {% endtrans %}</th>
                            </tr>
                            </thead>
                                <tr>
                                <td> {{ user.username }} </td>
                                <td> {{ user.email }} </td>
                                <td> {{ user.name }} </td>
                                <td> {{ user.birthday }} </td>
                                <td>
                                    <a class="btn btn-success" href="{{ user.edit_path }}" style="background: #10698F !important; margin-left: 10px">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                </td>
                                <td>
                                    <button class="btn btn-danger" value="{{ user.key.id() }}" style="margin-left: 10px">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


