{% extends 'base/base.html' %}
{% block js %} <script src="/static/js/subject/subject.js"></script> {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="well">
                    <h2 align="center"> Gerenciamento de Matérias</h2>
                    <div id="fields">
                        {{ csrf_input() }}
                        {{ form_input('Nome','name','', '', 'text') }}
                        {{ form_input('Atividades','activities','', '', 'text') }}
                        <label class="control-label">Cursos:&nbsp;&nbsp;</label>
                        <select name="courses" style="margin-bottom: 50px;">
                            {% for course in courses %}
                                <option value="{{ course.key.id() }}">{{ course.name }}</option>
                            {% endfor %}
                        </select>

                        <div align="center">
                            <button id="salvar" class="btn btn-log">Criar</button>

                            <h3>Lista de Matérias {{ 'do curso '+course_selecionado.name if course_selecionado}} </h3>
                            <form action="{{ pesquisa_path }}" style="margin-bottom: 100px">
                               <select name="course_selecionado">
                                   {% for course in courses %}
                                       <option value="{{ course.key.id() }}" {{ 'selected="selected"' | safe if course == course_selecionado }}>{{ course.name }}</option>
                                   {% endfor %}

                               </select>
                               <button id="gerenciar" type="submit" class="btn btn-log">Pesquisar</button>
                            </form>
                            <img id="ajax-save-gif" src="/static/img/ajax.gif" />
                        </div>
                    </div>

                    <br><br>
                    <div id="ol">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>{% trans %} Nome {% endtrans %}</th>
                                <th>{% trans %} Plano de Atividades {% endtrans %}</th>
                                <th>{% trans %} Curso {% endtrans %} </th>
                            </tr>
                            </thead>

                            {% for s in subjects %}
                                <tr value="{{ s.key.id() }}">
                                <td> {{ s.name }} </td>
                                <td> {{ s.activities }} </td>
                                <td>
                                    <a class="btn btn-success" href="{{ s.edit_path }}" style="background: #10698F !important; margin-left: 10px">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                </td>
                                <td>
                                    <button class="btn btn-danger" value="{{ s.key.id() }}" style="margin-left: 10px">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>
                            {% endfor %}
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


